<template>
  <div>
    <nav class="navbar navbar-light bg-light">
      <a href="/" class="navbar-brand">MEVN</a>
    </nav>

    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="sendTask">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Insert a task ..."
                    class="form-control"
                    v-model="task.title"
                  >
                </div>
                <div class="form-group">
                  <textarea
                    cols="30"
                    rows="10"
                    class="form-control"
                    placeholder="Insert a description ..."
                    v-model="task.description"
                  ></textarea>
                </div>
                <template v-if="this.edit === false">
                  <button class="btn btn-primary btn-block">Save</button>
                </template>
                <template v-else>
                  <button class="btn btn-primary btn-block">Update</button>
                </template>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="task of tasks">
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>
                  <button @click="deleteTask(task._id)" class="btn btn-danger">Delete</button>
                </td>
                <td>
                  <button @click="editTask(task._id)" class="btn btn-dark">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
class Taskkk {
  constructor(t, d) {
    this.title = t;
    this.description = d;
  }
}

export default {
  data() {
    return {
      task: new Taskkk(),
      tasks: [],
      edit: false,
      taskToEdit: ""
    };
  },
  created() {
    this.getTasks();
  },
  methods: {
    getTasks() {
      fetch("/api/tasks")
        .then(res => res.json())
        .then(data => {
          this.tasks = data;
        });
    },
    sendTask() {
      if (this.edit === false) {
        // New task
        fetch("/api/tasks", {
          method: "POST",
          body: JSON.stringify(this.task),
          headers: {
            Accept: "application/json",
            "Content-type": "application/json"
          }
        })
          .then(res => res.json())
          .then(data => {
            this.getTasks();
          })
      } else {
        // Update task
        fetch("/api/tasks/" + this.taskToEdit, {
          method: "PUT",
          body: JSON.stringify(this.task),
          headers: {
            Accept: "application/json",
            "Content-type": "application/json"
          }
        })
            .then(res => res.json())
            .then(data => {
                this.getTasks()
                this.edit = false
            })
      }
      this.task = new Taskkk()
    },
    deleteTask(id) {
      fetch("/api/tasks/" + id, {
        method: "DELETE",
        headers: {
          Accept: "application/json",
          "Content-type": "application/json"
        }
      })
        .then(res => res.json())
        .then(data => {
          this.getTasks();
        });
    },
    editTask(id) {
      fetch("/api/tasks/" + id)
        .then(res => res.json())
        .then(data => {
          this.task = new Taskkk(data.title, data.description);
          this.edit = true;
          this.taskToEdit = data._id;
        });
    }
  }
};
</script>

